INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/addUnalignedIntervals
src/alignmentProjector
src/backbone_global_to_local
src/bbAnalyze
src/bbFilter
src/config.h
src/config.h.in
src/coordinateTranslate
src/createBackboneMFA
src/extractBCITrees
src/getAlignmentWindows
src/getOrthologList
src/makeBadgerMatrix
src/mauveAligner
src/mauveStatic
src/mauveToXMFA
src/mfa2xmfa
src/progressiveMauve
src/progressiveMauveStatic
src/projectAndStrip
src/randomGeneSample
src/repeatoire
src/scoreAlignment
src/stamp-h1
src/stripGapColumns
src/stripSubsetLCBs
src/toGrimmFormat
src/toMultiFastA
src/toRawSequence
src/uniqueMerCount
src/uniquifyTrees
src/xmfa2maf
